body{
  background-color: whitesmoke;
}

img{
  width: 100%;
}


.navbar{
  padding-top: 5px;
  margin-left: 55px;
  font-family: 'Roboto', sans-serif;

  .nav-sign{
    margin-right: 40px;
  }
  
  .navbar-brand{
    width: 8%;
  }

  .navbar-nav{

    li{
      padding: 0px 8px;
    }
  }

  .nav-link{
    font-size: 0.9rem;
    color: black !important;
    margin-top: 8px;
  }
 
  li{
    list-style: none;
  }
}

/*Carousel*/
.covid{
  background-color: rgb(41, 100, 189);
  width: 89%;
  margin: auto;
  text-align: center;
  height: 40px;

  a{
    text-decoration: none;
    color: whitesmoke;

    &:hover{
      text-decoration: underline;
    }
    
    p{
      padding-top: 10px;
    }
  }
}
#carouselExampleCaptions{
  width: 89%;
  margin: auto;
  .carousel-indicators{
    li{
      background-color: black ;

    }
  }
  .carousel-inner{
    h1{
      color: black;
      font-weight: bolder;
      font-size: 2.6rem;
      font-family: 'Roboto', sans-serif;      width: 40%;
    }
    img{
      height: 500px;
    }

    p{
      font-size: 1.2rem;
      color: black;
      opacity: 0.8;
    }

    .btn{
      padding: 8px 30px;

      .btn-dark{
        color: white;
        font-weight: bolder;
        font-family: 'Balsamiq Sans', cursive;
        background-color: black !important;

      }
    }


    .carousel-caption{
      text-align: left;
      padding-bottom: 130px;
      margin-left: -90px;
      
    }
  }
}

/*Icons*/
.icons{
  margin-top: 70px;
  margin-bottom: 70px;
  margin-left: 150px;

  .row{
    a{
      text-decoration: none;
      color: black;
     

      i{
        margin-bottom: 15px;
        opacity: 0.8;
      }

      h4{
        font-size: 1rem;
        font-weight: bolder;
      }
    }
   
  }
}

/*Cards*/
.cards{
  width: 89%;
  margin: auto;

  .card{
    width: 313px;
    height: 400px;
    img{
      height: 200px;
    }

    a{
      color: rgb(41, 100, 189);
      font-weight: bolder;

      &:hover{
        border-bottom: 2px solid rgb(41, 100, 189);
        transition: .6s ease-in-out;
      }
    }
    h5{
      font-size: 1.2rem;
      font-weight: bolder;
      font-family: 'Roboto', sans-serif;
    }
  }
}

/*365 microsoft*/
.mi365{
  width: 89%;
  margin: 50px auto;
  height: 500px;
  

  .caption{
    transform: translate(80px, -350px);
    h1{
      font-family: 'Roboto', sans-serif;      font-size: 3rem;
      font-weight: bolder;
    }
    p{
      font-size: 0.9rem;
    }
    .btn{
      margin-right: 50px;
    }
    .for{
      color: black;
      font-weight: bolder;
    }
  }
}
/*For Works*/
.forWorks{
  width: 89%;
  margin: 0px auto;

  .col-12{
    h3{
      font-weight: bolder;
      font-family: 'Roboto', sans-serif;
      font-size: 1.5rem;
      margin-bottom: 20px;
      padding-left: 5px;
    }
  }
  .card{
    height: 400px;
    width: 313px;
    h5{
      font-family: 'Roboto', sans-serif;
      font-weight: bolder;
      font-size: 1.2rem;
    }
  }
}
/*second-carousel*/
.second-carousel{
  margin-top: 50px;
  height: 400px;
  margin-bottom: 150px;

  #carouselExampleCaptions{
    .carousel-inner{
      h1{
        color: whitesmoke;
        font-family: 'Roboto', sans-serif;
        font-size: 2.4rem;
        font-weight: bolder;
        margin-bottom: 10px;
      }
      p{
        color: white !important;
        font-size: 1rem;
        
      }
      .btn{
        background-color: white;
        color: black;
        font-weight: bolder;
        margin-right: 30px;
      }
      .demand{
        text-decoration: none;
        color: white;
        font-weight: bolder;
      }
    }
    .carousel-indicators{
      li{
        background-color: whitesmoke;
  
      }
    }
  }
  
}

.follow{
  margin-left: 80px;
  
  i{
    padding: 0px 5px;
  }
  .fa-facebook-square{
    color: #3b5998;
  }
  .fa-twitter-square{
    color: #1da1f2;
  }
  .fa-linkedin{
    color: #007bb5;
  }
}
/*Footer*/
.page-footer{
  width: 89%;
  margin: 50px auto;
  background-color: rgb(235, 235, 235);
  h5{
    margin-left: 40px;
    font-size: 0.9rem;
    font-family: 'Roboto', sans-serif;
    margin-bottom: 0px;
  }
  li{
    list-style: none;
    padding: 10px 0px;
    a{
      color: black;
      font-size: .7rem;
    }
  }
}